.dropdown {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	label {
		color: #000;
		font-family: Rubik;
		font-size: 1rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: capitalize;
	}

	select {
		font-family: "Fredoka", sans-serif;
		background: #fff;
		color: #000;
		border: 3px solid #000;
		border-radius: 10px;
		padding: 10px 15px;
		font-size: 1rem;
		box-shadow: 3px 3px 0 #00d5ff;
		cursor: pointer;
	}
}
