#root {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin: 0 auto;
	padding: 2rem;

	.App {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
	}
}
