@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	position: relative;

	.App {
		position: relative;
		padding: 0;
		margin: 0;
		height: calc(100vh - 1rem);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.aspect-ratio-calculator {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;

			background-color: #fff9f0;
			padding: 16px;
			border: 0px solid #000;
			box-shadow: 0px 0px 0 #ff5c5c;

			border-radius: 0px;
			width: calc(100% - 24px);
			margin: 0 auto;
			max-width: 500px;

			transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out,
				gap 0.3s ease-in-out;

			@media (min-width: 590px) {
				padding: 28px;
				border: 4px solid #000;
				border-radius: 16px;
				box-shadow: 8px 8px 0 #ff5c5c;
				margin: 16px auto;
			}

			@media (min-width: 1024px) {
				padding: 32px;
				border: 4px solid #000;
				box-shadow: 8px 8px 0 #ff5c5c;
				margin: 24px auto;
				border-radius: 20px;
				width: calc(100% - 128px);
				max-width: 1100px;
				gap: 32px;
			}
			@media (min-width: 1280px) {
				padding: 48px;
				margin: 32px auto;
			}
			@media (min-width: 1440px) {
				padding: 64px;
			}
		}

		.footer {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			gap: 4px;
			font-size: 0.825rem;
			color: #909090;

			a {
				cursor: pointer;
				font-weight: 600;
				text-decoration: none;
				color: #ff5c5c;
				position: relative;
				display: inline-block;

				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: currentColor;
					transform: scaleX(0);
					transform-origin: left;
					transition: transform 0.3s ease;
				}

				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}

				&:not(:hover)::after {
					transform-origin: right;
				}
			}

			@media (min-width: 1024px) {
				padding: 0;
			}
			.wolf {
				position: fixed;
				bottom: -100%;
				right: 32px;
				transition: bottom 0.4s ease;
				z-index: 999;
			}
			@media (min-width: 1024px) {
				a:hover ~ .wolf {
					bottom: -100px;
				}
			}
		}
	}
}
